<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css">
	<title><%= titulo %></title>
</head>
<body>
		<header>
			<h1>
				Bonito
			</h1>
		</header>
		<div id="wrapper">
			<section id="content-left">
				<div id="inside-top">TOP</div>
				<div id="inside-bottom">
					<articule class="box">hello</articule>			
					<articule class="box">hello</articule>			
					<articule class="box">hello</articule>			
					<articule class="box">hello</articule>			
					<articule class="box">hello</articule>			
					<articule class="box">hello</articule>	
				</div>
			</section>
			<section id="content-right">
				<articule class="box">
					<h3>TITULO</h3>
					<div class="pick"></div>
					<div class="resumen"></div>
				</articule>			
				<articule class="box">hello</articule>			
				<articule class="box">hello</articule>			
				<articule class="box">hello</articule>			
				<articule class="box">hello</articule>			
				<articule class="box">hello</articule>			
				<articule class="box">hello</articule>			
				<articule class="box">hello</articule>			
				<articule class="box">hello</articule>
			</section>			
		</div>
		<footer>bonito 2013</footer>
</body>
</html>